{% include "@oshop/header.html.twig" %}
<div class="page-content addbtn addbtn-theme">
  {{ page.content }}
  {{ page.section }}
  {{ page.newsletter }}
</div>
{% include "@oshop/footer.html.twig" %}
