{% include "@oshop/header.html.twig" %}

<div class="page-content">

<section class="register">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 ml-auto mr-auto">
        <div class="login-form text-center box-shadow white-bg pt-5 addbtn-theme addbtn">
          <h2 class="title mb-5"> Reset your <span>password</span></h2>
   			 {{ page.content }}
   		</div>
      </div>
    </div>
  </div>
</section>

   	{{ page.section }}
   	{{ page.newsletter }}
</div>
{% include "@oshop/footer.html.twig" %}

        