{% include "@oshop/header.html.twig" %}
<div class="page-content">
	<section>
       <div class="container addbtn addbtn-theme update">
			  {{ page.content }}
			  {{ page.section }}
		</div>
     </section>
    {{ page.newsletter }}
</div>
{% include "@oshop/footer.html.twig" %}
