{% include "@oshop/header.html.twig" %}

<div class="page-content">
<div class="insideText">{{ text_inside }}</div>
    {{ page.content }}
   	{{ page.section }}
   	{{ page.newsletter }}
</div>
{% include "@oshop/footer.html.twig" %}

        