.md-objects .md-object.md-layer-3-8-0 {
z-index: 997 !important; padding-top: 15px;
 padding-right: 20px;
 padding-bottom: 15px;
 padding-left: 20px;
 color: #221b1b !important;
 text-align: center;
 font-size: 1.6666666666667em;
 font-weight: 500;
 font-family: "Rubik";
}
.md-objects .md-object.md-layer-3-8-1 {
z-index: 998 !important; padding-top: 10px;
 padding-right: 20px;
 padding-bottom: 10px;
 padding-left: 20px;
 text-align: center;
 font-size: 7.5em;
 font-weight: 700;
 font-family: "Bitter";
 text-transform: none;
}
.md-objects .md-object.md-layer-3-8-2 {
z-index: 999 !important; color: #221b1b !important;
 font-size: 7.5em;
 font-weight: 700;
 font-family: "Bitter";
}
.md-objects .md-object.md-layer-3-8-3{font-size: inherit; }
.md-objects .md-object.md-layer-3-8-3 a {
background: #221b1b;
 padding-top: 15px;
 padding-right: 5px;
 padding-bottom: 15px;
 padding-left: 5px;
 text-align: center;
 font-size: 1.6666666666667em;
 font-weight: 700;
 font-family: "Bitter";
}
.md-objects .md-object.md-layer-3-8-3 {z-index: 1000!important;}
.md-objects .md-object.md-layer-3-8-3 a:hover{
background-color: #2e2b2b;
}