{% if breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-4 justify-content-end">
        
        {% for item in breadcrumb %}
        {% if item.url  %}
        	{% if loop.first %}
		        <li class="breadcrumb-item"><a href="{{ path('<front>') }}"><i class="fas fa-home"></i></a>
		        </li>
	      	{% else %}
	      	   <li class="breadcrumb-item"><a href="{{ item.url }}">{{ item.text }}</a>
	      	{% endif %}
        {% else %}
          	 <li class="breadcrumb-item active" aria-current="page">{{ item.text }}</li>
        {% endif %}
    {% endfor %}
    </ol>
</nav>
{% endif %}

