<div>
    <div class="cart">
  <div class="cart-block--summary">
    <a class="cart-block--link__expand" id = "header-cart-btn">
      <span class="cart-badge">{{ count }}</span> <i class="ti-bag"></i>
    </a>
  </div>
  {% if content %}
        {{ content }}
        <ul class="js-add-to-cart hidden">
            <li class = "btn btn-white container text-center">   
               {{ links }}
           </li>
        </ul>
  {% endif %}

</div>
</div>
